<!DOCTYPE html>
<h3>Welcome to property manager</h3>
<form action="/register" method="POST">
    <div>
        <label for='fname'>first name:</label>
        <input type="text" id='fname' name='first_name'>
    </div>
    <div>
        <label for='lname'>last name:</label>
        <input type="text" id='lname' name='last_name'>
    </div>
    <div>
        <label for='uname'>username:</label>
        <input type="text" id='uname' name='username'>
    </div>
    <div>
        <label for='pword'>password:</label>
        <input type="password" id='pword' name='password'>
    </div>
    <div>
        <input type="submit">
    </div>
</form>
